@charset "UTF-8";

body{
    background-color: rgb(62, 120, 255);
    font: normal 15pt Arial;
}
header{
    text-align: center;
    color: white; 
}

h1{
      
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.348);
}

select{
    width: 250px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}

footer > p{

}